#####################################################################
#  Caselight Macros
#####################################################################
[gcode_macro _CASELIGHT_ON]
description: Helper: Light on
gcode:
  SET_PIN PIN=caselight VALUE={printer['gcode_macro _USER_VARIABLE'].peripheral.caselight.on_val}
  {action_respond_info("Caselight on")}
    
[gcode_macro _CASELIGHT_OFF]
description: Helper: Light off
gcode:
  SET_PIN PIN=caselight VALUE=0.0
  {action_respond_info("Caselight off")}

[gcode_macro CASELIGHT]
description: Toggle light
gcode: {% if printer['output_pin caselight'].value == 0 %} _CASELIGHT_ON {% else %} _CASELIGHT_OFF {% endif %}

[gcode_macro LIGHT_ON]
#variable_delay_ms: 50
#variable_led_count: 8
gcode:
  _CASELIGHT_ON
#  {% for led_index in range(1, led_count + 1) %}
#    SET_LED LED=rgb1 RED=0.8 GREEN=0.8 BLUE=0.99 INDEX={led_index}
#    SET_LED LED=rgb2 RED=0.8 GREEN=0.8 BLUE=0.99 INDEX={led_index}
#    G4 P{delay_ms}
#  {% endfor %}

[gcode_macro LIGHT_OFF]
gcode:
  _CASELIGHT_OFF
