# This file contains common pin mappings for the BigTreeTech Octopus V1.
# To use this config, the firmware should be compiled for the STM32F446 with a "32KiB bootloader"
# Enable "extra low-level configuration options" and select the "12MHz crystal" as clock reference

# after running "make", copy the generated "klipper/out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the OctoPus with that SD card.

# See docs/Config_Reference.md for a description of parameters.

## Voron Design Trident 250/300/350mm BigTreeTech OctoPus V1 TMC2209 UART config

[include mainsail.cfg]               # Mainsail configuration - required!

[mcu]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_110045001550535556323420-if00
restart_method: command
##--------------------------------------------------------------------

[printer]
kinematics: corexy
max_velocity: 800           # 300
max_accel: 7000             # max accel suggested by input shaper  # 7000 = max achievable from Ellis speed_test process  # Max 4000 = suggested max default config file
max_accel_to_decel: 3500    # half of max_accel as suggested by Ellis tuing   # 3500 = half for max achievable
max_z_velocity: 15          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

[mcu rpi]
serial: /tmp/klipper_host_mcu

#  Stepper Settings
[include stepper.cfg]
[include tmc.cfg]

#  Extruder & Bed; Heater Verification (default values)
[include heaters.cfg]

#  Probe and Gantry Adjustment Routines
[include probe.cfg]

#  Fan Control & Extra Thermistor
[include fans.cfg]

#  Caselight Control
[include caselight.cfg]

#  Homing Routines
[include homing.cfg]

#  Bed Mesh 
[include bed_mesh.cfg]

#  Resonance compensation
[include input_shaper.cfg]

#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################
[idle_timeout]
timeout: 1800

#####################################################################
#   Macros
#####################################################################
[include KAMP_Settings.cfg]          # Make sure to include my updated version of the KAMP settings file for my preferences

[include basic_macro.cfg]
[include park_macro.cfg]
[include debug_macro.cfg]
[include backup.cfg]          # Macro for Git backup from Klipper interface

#  moonraker/mainsail
[include webclient.cfg]

#[include macros_webcam.cfg]          # Webcam control

#  print and service time storage
#[include printtime.cfg]

#  probe accuracy test
[include test_probe_accuracy.cfg]

#  flexplate select menu
[include flexplate.cfg]

#  filament and pressure advance
[include filament.cfg]
[include pressure_advance.cfg]

#  filament runout sensor
[include runout.cfg]

#  force move used only if gantry is at z max
[include force_move.cfg]

[include leds_stealthburner.cfg]     # for SB toolhead LED definitions

# Print Start/End macro definitions
#[include macros.cfg]
#[include macros_prints.cfg]          
[include printstart.cfg]          
     
#[include idle_timeout.cfg]           # idle timeout configuration
#[include timelapse.cfg]              # Moonraker timelapse

[include test_speed.cfg]             # Speed testing

[exclude_object]                     # Turn on exclude object functionality

#  File location of stored varibales
[save_variables]
filename: /home/pi/printer_data/config/.variables.stb

#  Virtual SD Card
[virtual_sdcard]
path: /home/pi/printer_data/gcodes

[include variable_setup.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 33.801
#*# pid_ki = 4.333
#*# pid_kd = 65.912
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 45.711
#*# pid_ki = 1.917
#*# pid_kd = 272.554
#*#
#*# [probe]
#*# z_offset = -1.689
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.003125, 0.006875, 0.005000, -0.004375, 0.021875
#*# 	0.034375, 0.033750, 0.016875, -0.001250, 0.025000
#*# 	0.053750, 0.050000, 0.020625, -0.025000, 0.000000
#*# 	0.030000, 0.038125, 0.050000, 0.018125, 0.035000
#*# 	-0.012500, 0.048750, 0.071250, 0.056875, 0.075625
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 290.0
#*# min_y = 20.0
#*# max_y = 290.0
#*#
#*# [input_shaper]
#*# shaper_type_x = 3hump_ei
#*# shaper_freq_x = 84.8
#*# shaper_type_y = mzv
#*# shaper_freq_y = 48.8
